.aimi-button{
    font-size: 12px;
    cursor: pointer;
    background: #fcfcfc;
    color: #0084f2;
    text-align: center;
    display: block;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 26px;
    padding: 0 15px;
    height: 28px;
    text-decoration: none;
    border: 1px solid #d8d8d8;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 80px;
    outline: none;
    &:hover {
        background: #f4f2f2;
    }
    &.aimi-button--disable{
        background: #e8e8e8;
        color: #a2a2a2;
        &:hover {
            background: #e8e8e8;
        }
    }
    &.aimi-button--primary{
        border: 1px solid #0274d4;
        color: #ffffff;
        background: #0084f2;
        &:hover{
            background: #0274d4;
        }
        &.aimi-button--disable{
            background: #7fc1f8;
            border: 1px solid #7fc1f8;
            cursor: none;
        }   
    }
}